<h1>Calculated from Input Data</h1>

<p>Distance: <%= @distance %></p>
<p>Nuts: <%= @nuts %></p>
<p>Consumed on one km: <%= @consumed_per_km %></p>
<p>Cart capacity: <%= @cart_capacity %></p>

</br>

<p>Max Transportable Nuts: <%= @result %></p>

</br>
<%= button_to "Back to Index", root_path, method: :get %>